{%- comment -%} Grupo de Informações da Marca do Footer {%- endcomment -%}
<div class="footer-block__group footer-brand-group">
  {%- if block.settings.heading != blank -%}
    <h3 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h3>
  {%- endif -%}
  
  <div class="footer-block__brand-info">
    {%- if settings.brand_image != blank -%}
      {%- assign brand_image_height = settings.brand_image_width
        | divided_by: settings.brand_image.aspect_ratio
      -%}
      <div
        class="footer-block__image-wrapper"
        style="max-width: min(100%, {{ settings.brand_image_width }}px);"
      >
        {{
          settings.brand_image
          | image_url: width: 1100
          | image_tag:
            loading: 'lazy',
            widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
            height: brand_image_height,
            width: settings.brand_image_width
        }}
      </div>
    {%- endif -%}
    
    {%- if settings.brand_headline != blank -%}
      <h4 class="footer-block__brand-headline rte">{{ settings.brand_headline }}</h4>
    {%- endif -%}
    
    {%- if settings.brand_description != blank -%}
      <div class="footer-block__brand-description rte">{{ settings.brand_description }}</div>
    {%- endif -%}
  </div>
</div>
